{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-xs-6">
			<h1>Stores</h1>
		</div>
		<div class="col-xs-6">
			
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<th>Number</th>
			<th>Name</th>
			<th>Company Name</th>
			<th>Contact Name</th>
			<th>Contact Email</th>
			<th>Contact Phone</th>
			<th>Company Adress</th>
			<th>Camp</th>
		</thead>
		<tbody>
			{% for s in stores %}
				<tr>
					<th scope="row">{{ s.list_number }}</th>
					<td><a href="{{ s.get_absolute_url }}">
						{{ s.name }}
					</a></td>
					<td>
						{{ s.company_name }}
					</td>
					<td>
						{{ s.contact_fname }} {{ s.contact_lname }}
					</td>
					<td>
						{{ s.contact_email }}
					</td>
					<td>
						{{ s.phone_number }}
					</td>
					<td>
						{{ s.company_adress }}, {{ s.company_town }}, {{ s.company_postcode }}, {{ s.company_country }}
					</td>
					<td>
						{{ s.camp }}, {{ s.inner_camp }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_paginated %}
	<ul class="pagination pagination-sm">
		{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% endif %}
		{% for i in page_obj.paginator.page_range %}
		
		<li {% ifequal i page_obj.number %}class="active"{% endifequal %}>
			<a href="?page={{i}}">
			{{i}}
			</a>
		</li>
		
		{% endfor %}
		
		{% if page_obj.has_next %}
		<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% endif %}
	</ul>
	{% endif %}
{% endblock content %}